$color-primary: #023d79;
$color-primary-light: #035fbc;
$color-primary-dark: #012447;

$color-secondary: #3565A3;

$color-tertiary: #FA2D19;
$color-tertiary-dark: #6A1012;

$color-body: #E6EDF6;
$color-grey: #222;
$color-greyish: #b1b1b1;
$color-greyish2: #e0e0e0;
$color-white: #fff;
$color-black: #000;
$color-blackish: #101010;

$box-shadow: -2rem 2rem 1rem rgba($color-black, .5);;